/**
 * Css grid variables
 */

:root {
  --grid-gutter-s: 1.944rem;
  --grid-gutter-m: 2.222rem;
  --grid-gutter-l: 3.0rem;

  --grid-spacing-mouse: 0.0666em;
  /* --grid-spacing-hedgehog: undefined; */
  --grid-spacing-rabbit: 0.714em;
  --grid-spacing-fox: 1em;
  --grid-spacing-sloth: 1.111em;
  /* --grid-spacing-sheep: undefined; */
  --grid-spacing-donkey: 1.875em;
  --grid-spacing-camel: 2.5em;
  --grid-spacing-rhino: 3.889em;
}

